* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1% 0;
}

.container > :not(:last-child) {
  margin-bottom: 1%;
}

header {
  width: 100%;
  height: 10%;
  background-color: rgb(229 121 230);
}

main {
  width: 100%;
  height: 80%;
}

main > :not(:last-child) {
  margin-bottom: 1%;
}

section:first-child {
  width: 100%;
  height: 40%;
  background-color: rgb(225 214 122);
}

section:last-child {
  width: 100%;
  height: calc(100% - (40% + 1%));
}
section:last-child > * {
  background-color: rgb(171 207 231);
}
.top {
  width: 100%;
  height: 20%;
  border-bottom: 10px solid rgb(0 134 255);
}
section:last-child > :not(.top) {
  height: 80%;
  /* rispetto a prima ho solo sostituito float left a inline-block */
  float: left;
}
.left, .right {
  width: 20%;
  border-bottom: 10px solid rgb(0 134 255);
}
.center {
  width: 60%;
  border: 10px solid rgb(0 134 255);
  border-top: none;
}

footer {
  width: 100%;
  height: calc(100% - (10% + 80% + 3%));
  background-color: rgb(136 1 254);
}
